@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #020617;
  /* Slate-950 */

  --primary: #020617;
  --primary-foreground: #ffffff;

  --secondary: #f1f5f9;
  /* Slate-100 */
  --secondary-foreground: #020617;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  /* Slate-500 */

  --card: #ffffff;
  --card-foreground: #020617;

  --border: #e2e8f0;
  /* Slate-200 */
}

.dark {
  --background: #020617;
  /* Blueblack / Slate-950 */
  --foreground: #ffffff;
  /* White */

  --primary: #facc15;
  /* Yellow-400 */
  --primary-foreground: #020617;

  --secondary: #1e293b;
  /* Slate-800 */
  --secondary-foreground: #ffffff;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  /* Slate-400 */

  --card: #0f172a;
  /* Slate-900 */
  --card-foreground: #ffffff;

  --border: #1e293b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}